body {
	margin: 0;
	padding: 0;
}
* {
	background-color: #404040;
	color: #C0C0C0;
	font-family: "Verdana", "Helvetica", "Tahoma", "Times New Roman", sans-serif;
	font-weight: 600;
}
h1 {
	text-decoration: underline 5px black;
}
img.recipe-portrait {
	width: auto;
	height: 60vh;
	border-style: ridge;
	border-width: 20px;
	border-color: #A09000;
	border-radius: 2%;
}

iframe {
	border: none;
}

div.page {
	display: flex;
	height: 100vh;
	overflow: hidden;
}

div.document {
	overflow: auto;
	padding-left: 10px;
	flex-shrink: 1;
}

iframe.sidebar {
	flex-shrink: 0;
	overflow: auto;
	padding: 0px;
	border-right: 5px solid black;
	border-bottom: 5px solid black;
	border-radius: 0 0 5vh;
}
